* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  justify-content: center;
}

.left {
  width: 18%;
  .sticky1 {
    position: sticky;
    top: 0;

    .postbox {
      display: flex;
      justify-content: center;
      .post {
        margin-top: 10px;
        &:hover {
          cursor: pointer;
          background-color: rgb(40, 182, 182);
        }
        align-items: center;
        background-color: rgb(29, 161, 242);

        border-radius: 40px;

        margin-right: 40px;
        color: white;
        padding: 15px 100px;
      }
    }
    .logoX {
      cursor: pointer;
      font-size: 30px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;

      i {
        border-radius: 50%;
        padding: 10px;

        &:hover {
          background-color: rgb(216, 216, 216);
        }
      }
    }
  }
}
.homebox {
  .homehover {
    &:hover {
      cursor: pointer;
      background-color: rgb(216, 216, 216);
    }

    display: flex;
    align-items: center;
    width: max-content;

    border-radius: 40px;
    .hometext {
      padding: 10px;
      padding-right: 30px;
      font-size: 20px;
    }
    .home {
      font-size: 25px;
      padding: 10px;
      padding-left: 15px;
    }
  }
}
.mid {
  height: 3000px;
  border: solid 1.5px rgb(245, 247, 248);

  width: 38%;
  .head {
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: solid 1.5px rgb(245, 247, 248);
    display: flex;

    justify-content: space-between;
    .following {
      &:hover {
        cursor: pointer;
        background-color: rgb(216, 216, 216);
      }

      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 95px;
      padding-left: 95px;
    }
    .foryou {
      cursor: pointer;
      &:hover {
        background-color: rgb(216, 216, 216);
      }

      padding-top: 15px;
      padding-bottom: 15px;
      padding-right: 95px;
      padding-left: 95px;
    }
    .setting {
      cursor: pointer;
      i {
        border-radius: 50%;
        &:hover {
          background-color: rgb(216, 216, 216);
        }
        padding: 10px;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .what {
    border-bottom: 1px solid rgb(245, 247, 248);
    .up {
      display: flex;
      align-items: center;

      .miniprofile {
        padding: 15px;
        img {
          cursor: pointer;
          display: flex;
          justify-content: center;

          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }
      .whatis {
        font-size: 20px;
        color: rgb(216, 216, 216);
      }
    }
    .down {
      display: flex;
      justify-content: space-between;

      .L {
        display: flex;

        #first {
          margin-left: 40px;
        }
        i {
          cursor: pointer;
          padding: 10px;
          color: rgb(29, 161, 242);
        }
      }
      .R {
        .post1 {
          margin-bottom: 10px;
          color: white;
          border-radius: 50px;
          padding: 10px;
          padding-left: 20px;
          padding-right: 20px;
          margin-right: 20px;
          background-color: rgb(15, 193, 225);
        }
      }
    }
  }

  .posting {
    img {
      cursor: pointer;
    }
    border: solid 1px rgb(245, 247, 248);
    padding-bottom: 8px;
    .bottompost {
      .comments {
        cursor: pointer;
        &:hover {
          color: rgb(29, 161, 242);
          i {
            background-color: rgb(183, 221, 246);
            color: rgb(29, 161, 242);
          }
        }
      }
      .arrows {
        cursor: pointer;
        &:hover {
          color: green;
          i {
            background-color: rgb(210, 244, 219);
            color: green;
          }
        }
      }

      .heart {
        cursor: pointer;
        &:hover {
          color: rgb(163, 15, 64);
          i {
            background-color: rgb(245, 190, 243);
            color: rgb(163, 15, 64);
          }
        }
      }
      .statistic {
        cursor: pointer;
        &:hover {
          color: rgb(29, 161, 242);
          i {
            background-color: rgb(183, 221, 246);
            color: rgb(29, 161, 242);
          }
        }
      }
      .bookmark {
        cursor: pointer;
        &:hover {
          color: rgb(29, 161, 242);
          i {
            background-color: rgb(183, 221, 246);
            color: rgb(29, 161, 242);
          }
        }
      }
      .download {
        cursor: pointer;
        &:hover {
          color: rgb(29, 161, 242);
          i {
            background-color: rgb(183, 221, 246);
            color: rgb(29, 161, 242);
          }
        }
      }

      div {
        color: grey;
      }
      i {
        color: grey;
        padding: 7px;
        border-radius: 50%;
      }
      display: flex;
      justify-content: space-around;
      .download {
        margin-left: -50px;
        margin-right: -15px;
      }
    }
    .images {
      padding-left: 8px;
      .foto1 {
        border-top-right-radius: 30px;
        border: 1px solid rgb(245, 247, 248);
        margin-bottom: 1px;
      }
      .foto2 {
        border-bottom-right-radius: 30px;
        margin-top: -4px;
      }
      .foto3 {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        margin-right: 1px;
      }

      display: flex;
      margin: 5px;
    }
    .postheader {
      .posttitle {
        b {
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
        span {
          color: #b2babf;
        }
      }
      padding: 10px;
      display: flex;
      justify-content: space-between;
      .rightpostheader {
        margin-right: 5px;
        i {
          &:hover {
            cursor: pointer;
            background-color: rgb(216, 216, 216);
          }
          border-radius: 50%;
          font-size: 17px;
          padding: 10px;
        }
      }
      .leftpostheader {
        cursor: pointer;
        display: flex;
        img {
          margin-left: 5px;
          margin-right: 5px;
          background-color: rgb(107, 107, 207);
          border-radius: 50%;
        }
      }
    }
  }
}
.right {
  .end {
    margin: 15px 40px;
    display: flex;
    h5 {
      margin-right: 7px;
      color: #71808a;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .trends {
    cursor: pointer;
    .show {
      &:hover {
        background-color: rgb(216, 216, 216);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      padding: 5px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: rgb(29, 161, 242);
    }
    .trendbox {
      &:hover {
        background-color: rgb(216, 216, 216);
      }
      .trendright {
        i {
          &:hover {
            cursor: pointer;
            color: rgb(29, 161, 242);
            background-color: rgb(183, 221, 246);
          }
          padding: 7px 8px;
          border-radius: 50%;
        }
      }
      display: flex;
      justify-content: space-between;
      padding: 15px;
      background-color: #eff3f4;
      .trendleft {
        div {
          color: #71808a;
        }
        .middle {
          color: black;
        }
      }
    }
    margin-top: 20px;
    margin-left: 25px;
    background-color: #eff3f4;
    border-radius: 15px;
    h3 {
      padding: 5px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .subscribe {
    .show-more {
      &:hover {
        background-color: rgb(216, 216, 216);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
      }
      cursor: pointer;
      padding: 5px;
      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: rgb(29, 161, 242);
    }
    .accounts {
      .balancer {
        display: flex;
      }
      display: flex;
      justify-content: space-between;
      &:hover {
        background-color: rgb(216, 216, 216);
      }
      cursor: pointer;
      .click-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .click {
        cursor: pointer;
        margin-right: 10px;
        border: solid 1px black;
        color: white;
        background-color: black;
        height: 30px;
        width: 80px;

        border-radius: 30px;
      }

      .fotka {
        margin-top: 5px;
        padding: 5px;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      display: flex;
      .folow {
        padding: 5px;
        h4 {
          &:hover {
            text-decoration: underline;
          }
        }
        h5 {
          color: #71808a;
          margin-left: 10px;
          margin-bottom: 5px;
        }
      }
      img {
        cursor: pointer;
        display: flex;
        justify-content: center;

        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
    margin-top: 10px;
    margin-left: 25px;
    background-color: #eff3f4;
    border-radius: 15px;
    h3 {
      padding: 5px;
      padding-left: 15px;
    }
    h4 {
      padding: 5px;
      padding-left: 15px;
    }
    .sub {
      cursor: pointer;
      margin-top: 5px;
      margin-bottom: 10px;
      border: solid 1px black;
      color: white;
      background-color: black;
      padding: 7px 25px;
      margin-left: 15px;
      border-radius: 30px;
    }
  }
  width: 25%;
  .searchbar {
    position: sticky;
    top: 0;
    background-color: #eff3f4;
    margin-top: 5px;
    margin-left: 25px;
    border: solid white;
    border-radius: 50px;
    input {
      &:focus {
        outline: none;
      }
      background-color: #eff3f4;
      padding: 15px;
      border: 1px solid #eff3f4;
      color: #71808a;
      padding-right: 152px;
      padding-left: 10px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    #search {
      padding-left: 10px;
      color: #71808a;
    }
  }
}
